<!DOCTYPE html>
<html>
  <head>
    <title>webboole - a web frontend to limboole</title>
    <script src="scripts/jquery-1.8.3.min.js"></script>
    <script src="scripts/main.js"></script>	  
  </head>
  <body>
    <h1>Webboole</h1>
    <p>
      This is a simple web fronted for limboole. The code is written very fast and dirty. If you have any security worries I suggest you either look at the code, or simply don't use it. At any case I would advise you to not send me your super secure password because all input will be saved temporarily in plain text. Also there is no spam check at all so I kind of depend on you good manners. This thing is hosted by my raspberry pi so the most damage you can cause is make me reboot this thing and turn off the web server. <a href="https://bitbucket.org/jostillmanns/webboole">Code</a>
    </p>
    <textarea name="code" cols="100" rows="10"></textarea><br />
    <textarea name="result" cols="100" rows="25">Result: </textarea><br />
    <button name="submit_valid">Check if formula is valid</button>
    <button name="submit_satisfy">Check satisfiability</button><br />
  </body>
</html>

